.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Desktop */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #desktop{
    display: block;
  }
  #mobile{
   display: none; 
  }  

  .panel-body{
  padding: 0;
  }

  .list-group-item:first-child, .list-group-item:last-child {
    margin-bottom: 0;
    border-radius: 8px;
  }
}

/* Responsive: Mobile */
@media screen and (max-width: 767px) {
  #desktop{
    display: none;
  }
  #mobile{
   display: block; 
  }
}


/*global css overrides*/
h4,p,a{
  color: #767676 !important;
}

.header{
  padding: 0;
}

.footer{
  /*width: 100%;
  height:auto;
  position: absolute;
  bottom: 0;
  left: 0;*/
}


/*mobile css overrides*/
.panel{
   -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; 
  box-shadow: none !important;
}

.panel-default{
  border:0;
  //border-bottom: 1px solid gray;
}

.panel-default > .panel-heading{
  background:transparent; 
  padding:25px;
  cursor: pointer;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body{
  border: 0;

}


/*desktop css overrides*/
.list-group{
  width:350px; 
}

.list-group li{
  border-radius: 8px; 
  border:0;
  cursor: pointer;
}

.list-group li a{
  color: #767676; 
  font-weight: 500; 
  cursor:pointer;
}

.panel .panel-default{
  width:300px; 
  min-height:300px; 
  border:none; 
  margin-left:20px; 
  padding:0;
}