<div ng-controller="MainCtrl" data-ng-init="init()">
  <!-- Mobile template -->
  <div id="mobile" class="row">
    <div class="panel-group" id="accordion" role="tablist">
    
    <div ng-repeat="item in dataset" class="panel panel-default">
      <div ng-click="mobile_showDescription({{item.id}})" class="panel-heading" role="tab" id="heading{{item.id}}">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse">
            {{item.title}} <span style="float:right" class="glyphicon glyphicon-plus" ></span>
          </a>
        </h4>
      </div>
      <div id="collapse{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{item.id}}">
        <div class="panel-body">
            <h4>{{ item.title }}</h4>
            <p>{{ item.desc }}</p>
        </div>
      </div>
      <hr />
    </div>

  </div>
  </div>
  <!-- end Mobile template-->

  <!-- Desktop template -->
  <div id="desktop" class="row" >
    <div class="col-xs-6">
      <ul class="list-group">
        <li ng-repeat="item in dataset" ng-click="desktop_showDescription({{item.id}})" id="nav{{item.id}}" class="list-group-item" >
          <a>{{ item.title }} <span style="float:right" class="glyphicon glyphicon-chevron-right" ></span></a>
        </li>
      </ul>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{ title }}</h4>
          <p>{{ description }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end Desktop template-->

</div>